.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 40px;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 4px 13px;
}

.u-section-1 .u-text-1 {
  margin: 1px auto 0 27px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -29px auto 2px 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 22px auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 802px;
  margin-top: 45px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-image-1 {
    margin-top: 848px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 741px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 662px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 641px;
  }
}